.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  position: relative;
  z-index: -3;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 183px;
}

.logo_place_header {
  margin-top: 30px;
  height: 32px;
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  margin-left: 64px;
  display: flex;

}

.header__subtitle {
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  background-image: url('../images/header-image.png');
  width: 765px;
  height: 608px;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -2;
}

.description {
  margin: auto;
  width: 80%;
}

.two-columns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}

.span-accent {
  font-weight: bold;
}

/* Digits section */

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.digits {
  margin-top: 100px;
  text-align: center;
}

.section-title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.table__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  text-align: center;
  min-height: 890px;
  margin-top: 100px;
  position: relative;
}

.feynman__title {
  padding-top: 100px;
  width: 648px;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.15;
  margin: 0 auto;
}

.feynman__subtitle {
  padding-top: 70px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  color: #2f80ed;
}

/* Kaufman section */

.kaufman {
  text-align: center;
  background-color: #1f1f1f;
  color: #fff;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  text-align: start;
}

.section__title_theme_dark {
  padding-top: 90px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* Footer section */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  color: #fff;
  display: flex;
}

.footer__column-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0; 
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  text-align: start;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.logo_place_footer {
  height: 35px;
}